@use "variables" as v;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: v.$main_font;
  font-size: 1.6rem;
  background-color: rgb(250, 250, 250);
}

// ::-webkit-scrollbar {
//   width: 0rem;
// }

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
